@import '../../variables.css';

.back {
  margin: 0 0 0 1rem;
  font-weight: 500;
  transition: 0.3s ease all;
  &:hover {
    margin: 0;
  }
}

.form-add {
  margin: 1.5rem 0 0;
  width: 100%;
  max-width: 600px;
  label {
    display: block;
    div {
    margin: 1.5rem 0 0.5rem;
    }
  }
  button {
    margin: 1rem 0 0;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    border: 4px solid rgb(202, 202, 202);
    padding: .6rem;
    margin: 0 0 0.4rem;
    font-size: 100%;
    background: white;
  }
}

fieldset legend {
  border: 0;
  padding: 0;
  white-space: normal;
  position:absolute;
  left: -5000px;
}

fieldset {
  border: 0;
  padding: 0;
  margin-left: 0px;
}

button[type=submit] {
  background: #af4141;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  transition: 0.3s ease all;
  text-transform: uppercase;
  cursor: pointer;
}

button[type=submit]:hover {
  background: lightgray;
  color: $darkgray;
  
}

button[type=button] {
  background: rgb(82, 82, 82);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  transition: 0.3s ease all;
  text-transform: uppercase;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}

button[type=button]:hover {
  background: lightgray;
  color: $darkgray;
}