<a href="#grids" alt="Back to main image grid page" class="back">&larr; Back to main Image Grid</a>

<form class="form-add">
  <fieldset>

    <legend>Add New Image</legend>

    <label for="name">
      <div>Image Name</div>
      <input required name="name" type="text">
    </label>

    <label for="category">
      <div>Image Category</div>
      <input required name="type" type="text">
    </label>

      <button type="submit">Add</button>
      <button type="button">Cancel</button>
  

    <p class="error"></p>
  </fieldset>
</form>

<!-- upload -->
<!-- <section class="images">
  <section class="upload">
    <div>
      Upload an image: <input type="file">
    </div>
    <div>
      Embed image: 
        <form>
          <input name="url" type="text">
          <button type="submit">Add</button>
        </form>
    </div>
  </section>

  <ul></ul>
</section> -->