@import '../../variables.css';

.remove {
  padding: 0.5rem;
  background: $darkgray;
  color: $white;
  border-radius: 5px;
  margin: 10px 0 0;
  font-size: 0.8rem;
}

ul.grid-list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
}