@import '../variables.css';

.header-flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Trirong';
  border-bottom: 0px;
  text-align: left;
  color: $link;
  &:hover {
    border-bottom: 0px;
    color: $accent;
  }
}

.logo-wrap {
  text-align: left;
}

.top {
  font-size: 0.7rem;
  padding: 0.5rem 0 0;
}

.ulist {
  display: flex;
  justify-content: center;
  margin: 0;
  li {
    padding: 0.5rem 1rem 0;
    a {
      color: $black;
      border-bottom: 3px solid $white;
      transition: 0.3s ease all;
    }
    a:hover {
      border-bottom-color: $accent;
    }
  }
  
}

nav {
  justify-content: flex-end;
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .header-flex {
    flex-direction: column;
    align-items: center;
  }

  .logo-wrap {
    text-align: center;
  }

  .ulist {
    margin: 1.1rem 0 0;
  }
}