@import '../variables.css';

.resource-grid {
  padding: $padding;
}

.resource-grid > div:nth-child(1) {order: 1;}
.resource-grid > div:nth-child(2) {order: 2;}
.resource-grid > div:nth-child(3) {order: 3;}
.resource-grid > div:nth-child(4) {order: 4;}
.resource-grid > * {padding: 1rem;}

@media screen and (min-width: 1000px) {
  .resource-grid > div:nth-child(1) {grid-area: a;}
  .resource-grid > div:nth-child(2) {grid-area: b;}
  .resource-grid > div:nth-child(3) {grid-area: c;}
  .resource-grid > div:nth-child(4) {grid-area: d;}
  
  .resource-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "a a a"
    "b c d";
    align-items: flex-start;
    grid-gap: 2rem;
  }
}