@import '../../variables.css';

.grid {
  h4 {
    font-size: 0.8rem;
    color: $white;
    transition: 0.3s ease all;
  }
}

.item-article {
  transition: 0.3s ease all;
  &:hover {
    /* margin: -10px 0 0; */
    h2 {
      color: $accent;
    }
    h4 {
      color: $darkgray;
    }
  }
}

.item-article + .item-h2:hover {
  color: $accent;
}

.item-h2 {
  font-size: 1.5rem;
  padding: 2rem 0 0.5rem;
  transition: 0.3s ease all;
  &:hover {
    /* color: $accent; */
  }
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .grid {
    h4 {
      color: $darkgray;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 800px) {
  .grid {
    h4 {
      color: $darkgray;
    }
  }
}